<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>Sign Up</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Sign Up</h1>
                <h3>Fill the form to register</h3>
            </div>
            <form method="POST" action="{% url 'add_user' %}">
                {{form.as_p}}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Register">
            </form>
        </div>
    </body>
</html>